table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20 px;
}

th, td {
    border: 1px;
    padding: 8px;
    text-align: left;
}

th {
    background-color: aquamarine;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

form {
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #dda;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 7 px;
}

input {
    width: 100px;
    padding: 7px;
    margin-bottom: 12px;
}

.my-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .my-button:hover {
    background-color: #45a049;
  }
  .my-button:active {
    background-color: #3e8e41;
  }

